<!DOCTYPE html>
<html>
<head>
	<base href="{{ site.url }}">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="UTF-8">
	<meta name="description" content="This is the website of Lorain Trzyna, musical efficianado.">
	<meta name="author" content="Adam C. Cordingley">

	<title>Lorain Trzyna - {{ page.title }}</title>
</head>
<body>



<h1>{{ page.title }}</h1>
<div id="content">
	{{ content }}
</div>


<div id="footer">
		
		
		<!--<ul class="left-align">
			<li><a href="index.html">Home</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="research.html">Research</a></li>
			<li><a href="personnel.html">Lab Personnel</a></li>
		</ul>
		
		<span class="right-align">
			<p>ADDRESS</p>
			<p>CONTACT INFO</p>
		</span>-->
		<span>
			<p>&copy; 2016 Lorain Trzyna</p>
		</span>
		
		
	</div>
</body>
</html>